
body{font-family: 'Poppins', sans-serif; margin:0 auto; width:960px;}
    /*THE AUTO SETTING MAKES IT SO THAT THE TEXT IS CENTERED IN THE MIDDLE OF THE PAGE*/
h1, h2, h3{color:rgb(105, 73, 37);}
ul{list-style-image:url("images/tiny-coffee-cup.gif");}
h1{padding-top:10px;}

a:link, a:visited{text-decoration:none; color:rgb(105, 73, 37); font-weight:bold;}
a:hover{color:black}

nav ul{list-style-type:none; padding:0px;}
nav li{display:inline; float:left;}

nav a:link, nav a:visited{background-color:rgb(105, 73, 37); color:bisque; display:block; width:160px; text-align:center; padding:10px 0px;}

nav a:hover{background-color:antiquewhite; color:rgb(105, 73, 37)}

aside{width:280px; float:right; background-color:antiquewhite; text-align:center; font-weight:bold; padding:10px; margin-left:20px;}

.photo-left{float:left; margin-right:20px;}
.photo-right{float:right; margin-left:20px;}

header{background-image:url(images/coffee-beans.jpg); height:100px; margin-bottom:70px;}
header h1{color:rgba(256,256,256,0.85); margin-left:30px; margin-top:30px; padding-top:10px; font-size:50px;}

footer{margin:40px 0px; padding-bottom:20px}
footer nav a:link, footer nav a:visited {text-decoration:none; color:burlywood; display:block; width:160px; text-align:center; background-color:white;}
footer nav a:hover{color:rgb(105, 73, 37);}

table{border-collapse:collapse; background-color:rgba(250, 235, 215, 0.5);} /*SHRINKS THE OVERLAPPING BORDERS TO ONE LINE*/
table caption{color:rgb(105, 73, 37); font-weight:bold; font-size:larger; padding-bottom:10px;}
td, th{border:2px solid rgb(105, 73, 37); width:20%; text-align:center; padding:5px;}

video {margin-bottom:20px; margin-left:160px; filter:grayscale(70);}